.body {


  &--no-scroll {
    overflow: hidden;
  }
}

.h1-center {
  margin-top: 50px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.p-center {
  max-width: 961px;
  margin: 0 auto;
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2E2E2E;

  @media (min-width: 1200px) {
    font-size: 28px;
    line-height: 36px;
  }
}
.section {

  &--yellow {
    margin-top: 40px;
    padding: 72px 0;
    background: #F6CE54;
  }
}

.accr-block {
  display: none;

  &--open {
    display: block !important;
  }
}

.checklist-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  padding: 12px 20px 24px 20px;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 10px;

  @media (min-width: 1200px) {
    padding: 24px 80px 32px 80px;
  }

  &__recomendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 20px 0;
    padding: 12px 0 12px 0;
    border-top: 1px solid #DFDFDF;

    @media (min-width: 1200px) {
      margin: 12px 80px 0;
      padding-top: 36px;
    }
  }
  
  &__step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #EDFFEE;
    border-radius: 50%;
    overflow: hidden;

    @media (min-width: 1200px) {
      width: 50px;
      height: 50px;
    }

    span {
      font-weight: bold;
      font-size: 13px;
      line-height: 13px;
      color: #5ADE63;

      @media (min-width: 1200px) {
        font-size: 32px;
        line-height: 40px;
      }
    }

    &--war {
      background-color: #FFF5F5;
      
      span {
        color: #E64C5E;
      }
    }
  }

  &__h2 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2E2E2E;

    @media (min-width: 1200px) {
      margin-top: 24px;
      font-size: 30px;
      line-height: 38px;
    }
  }

  &__h3 {
    margin-right: auto;
    padding-left: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

    @media (min-width: 1200px) {
      font-size: 26px;
      line-height: 34px;
    }
  }

  &__p {
    
    @media (min-width: 1200px) {
      margin-top: 15px;
      padding: 0 30px;
    }

    &--padding-desc {
      padding: 0 20px;

      @media (min-width: 1200px) {
        padding: 0 90px;
      }
    }
  }

  &__btns {
    margin-top: 12px;

    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
      padding: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    position: relative;
    height: 72px;
    margin-bottom: 8px;
    background: #FFFFFF;
    border: 1px solid #72E77A;
    border-radius: 8px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    
    @media (min-width: 1200px) {
      width: 465px;
      height: 98px;
      margin-bottom: 0;
      border: 1px solid #DFDFDF;
      font-size: 20px;
      line-height: 32px;
      cursor: pointer;
    }

    &:hover {
      border: 1px solid #72E77A;
    }

    &:last-child {
      
      @media (min-width: 1200px) {
        margin-left: 25px;
      }
    }
    
    p {
      margin: 0;
      padding: 0 44px 0 20px;
      max-width: 390px;
      text-align: left;

      @media (min-width: 1200px) {
        padding: 0 44px 0 27px;
      }
    }

    .tooltip-info {
      top: 45%;
      right: 20px;
      transform: translateY(-50%);
      
      @media (min-width: 1200px) {
        right: 27px;
      }
    }

    &--active {
      background: #72E77A;
      color: #ffffff;

      svg {
        fill: #ffffff !important;
      }
    }
  }

  &__img {
    display: none;
    position: relative;
    
    @media (min-width: 1200px) {
      display: block;
      width: 245px;
      height: 286px;
      margin-left: 60px;
      
      img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 245px;
        height: 329px;
      }
    }
  }

  &__desc {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #818181;

    a {
      color: #818181;
      text-decoration: underline;

      &:hover {
        color: #696969;
      }
    }
  }

  &__form {
    width: 100%;
    border-top: 1px solid #DFDFDF;
  }

  &__form &__h2 {

    @media (min-width: 1200px) {
      max-width: 734px;
      margin: 0 auto;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28px;
    padding: 0 20px;

    @media (min-width: 1200px) {
      flex-direction: row;
      padding: 0;
    }

    input {
      height: 48px;
      padding: 12px 26px;
      background: #F5F5F5;
      border: none;
      border-radius: 4px 0px 0px 4px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      
      @media (min-width: 1200px) {
        width: 345px;
        text-align: left;
      }

      &::placeholder {
        color: #DBDBDB;
      }
    }

    button {
      height: 48px;
      margin-top: 8px;
      
      @media (min-width: 1200px) {
        width: 246px;
        border-radius: 0 4px 4px 0;
        margin-top: 0;
      }
    }
  }

  // модификация
  .btn--light-green {

    @media (min-width: 1200px) {
      margin-top: 30px;
    }
  }

  &--form {
    padding: 20px 0 12px 0;

    @media (min-width: 1200px) {
      padding-bottom: 24px;
    }
  }

  &--form &__h2,
  &--form &__desc {
    padding: 0 20px;
  }

  &--banner {
    flex-direction: row;
    margin-top: 0;
    
    @media (min-width: 1200px) {
      padding-right: 100px;
      padding-bottom: 0;
    }
  }

  &--banner &__form {
    text-align: left;
    border-top: none;
    margin-bottom: 14px;
    
    form {
      justify-content: flex-start;
      padding: 0;
    }
  }

  &--banner &__h2 {
    text-align: left;
  }

  &--banner &__p {
    padding: 0;
  }

  &--banner &__desc {
    text-align: center;

    @media (min-width: 1200px) {
      text-align: left;
    }
  }

  &--hide {
    display: none;
  }
}

.checklist {
  margin-top: 12px;
  padding: 0;
  list-style-type: none;

  @media (min-width: 1200px) {
    width: 100%;
    margin-top: 20px;
  }

  &__li {
    position: relative;
    padding: 10px 0;
    padding-right: 25px;
    border-bottom: 1px solid #DFDFDF;
    text-align: left;

    @media (min-width: 1200px) {
      display: flex;
      padding: 20px 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .tooltip-info {

    @media (min-width: 1200px) {
      position: relative;
      top: 0;
      margin-left: 10px;
    }
  }

  &__checkbox {
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    
    span {
      display: block;
      padding-left: 30px;
      
      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: #E7E8EA;
        border: 1px solid #E7E8EA;
        border-radius: 3px;
      }
      
      &:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 3px;
        width: 10px;
        height: 5px;
        transform: rotate(-45deg);
        border-bottom: 2px solid #E7E8EA;
        border-left: 2px solid #E7E8EA;
      }
    }
    
    input {
      visibility: hidden;
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    
    input:hover~span:before {

      @media (min-width: 1200px) {
        background-color: transparent;
        border-color: #7ACE39;
      }
    }
    
    input:hover~span:after {

      @media (min-width: 1200px) {
        border-color: #7ACE39;
      }
    }
    
    input:checked~span:before {
      background-color: #7ACE39;
      border-color: #7ACE39;
    }

    input:checked~span:after {
      border-color: #ffffff;
    }

    input:checked:hover~span:after {
      border-color: #ffffff;
    }
  }
}

.tooltip-info {
  position: absolute;
  top: 3px;
  right: 0;
  
  &__icon {
    
    svg {
      width: 20px;
      height: 20px;
      fill: #818181;
    }
  }
  
  &__text {
    z-index: 10;
    position: absolute;
    top: 30px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    padding: 13px 24px;
    font-size: 11px;
    line-height: 16px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
  }
  
  &:hover &__icon {
  }
  
  &:hover &__text {
  
    @media (min-width: 1200px) {
      visibility: visible;
      opacity: 1;
      width: 400px;
      height: initial;
    }
  }
}

.btn {

  &--light-green {
    width: 100%;
    height: 48px;
    background: #EDFFEE;
    border: 1px solid #5ADE63;
    border-radius: 4px;

    &:hover {
      background: #5ADE63;
    }

    @media (min-width: 1200px) {
      width: 196px;
      height: 56px;
      font-size: 16px;
      line-height: 24px;
      color: #2E2E2E;
    }
  }

  &--green {
    background: #72E77A;

    &:hover {
      background: #5ADE63;
    }
  }

  &--yellow {
    background: #F6CE54;

    &:hover {
      background: #F3C129;
    }
  }
}

.need-help {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  height: 80px;
  padding: 0 20px;
  background: #F6CE54;
  border: 1px solid #F3C129;
  
  @media (min-width: 1200px) {
    max-width: 1155px;
    margin: 0 auto;
    padding: 0 77px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
  }

  &__text {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2E2E2E;
    
    @media (min-width: 1200px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 20px;
  }

  &--open {
    display: flex;
  }
}

.modal-amo {
  display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  max-width: 100vw;

  &__content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 27px 20px;
    border-radius: 10px;
    background-color: #ffffff;

    @media (min-width: 1200px) {
      width: 800px;
    }
  }

  &__header {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2E2E2E;
  }

  &__close { 
    position: absolute;
    top: 15px;
    right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #BBBFCB;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;

    &:hover {
      border-color: #9ea1ac;
    }

    &:hover svg {
      fill: #ffffff;
    }

    svg {
      max-width: 8px;
      max-height: 8px;
      fill: #BBBFCB;
      transition: .2s;
    }
  }

  &__body {
    margin-top: 13px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #2E2E2E;
  }

  &--simple &__body {

  }

  &--open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
  
  &--open &__layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }
}

.form-three {
  position: relative;
  padding: 30px 22px 70px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  font-family: Circe;
  
  @media (min-width: 1200px) {
    display: flex;
    gap: 60px;
    padding: 40px;
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #000000;

    @media (min-width: 1200px) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__text {
    margin-top: 8px;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    
    @media (min-width: 1200px) {
      margin-top: 16px;
      font-size: 28px;
    }
  }

  &__policy {
    font-size: 12px;
    line-height: 16px;
    color: #818181;

    @media (max-width: 1200px) {
      position: absolute;
      bottom: 25px;
      text-align: center;
    }

    @media (min-width: 1200px) {
      margin-top: 24px;
    }

    a {
      color: #818181;
      text-decoration: underline;

      &:hover {
        color: #575757;
      }
    }
  }

  &__form {
    margin-top: 24px;
    
    @media (min-width: 1200px) {
      margin-top: 0;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #F5F5F5;
    border: none;
    border-radius: 5px;

    &:first-child {
      margin-top: 0;
    }
  }
  
  &__input::placeholder {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #818181;
    
    @media (min-width: 1200px) {
      text-align: left;
    }
  }
  
  .btn--green {
    width: 100%;
    height: 40px;
    margin-top: 26px;
  }
}

.survey {
  margin-top: 32px;
  margin-bottom: 40px;
  font-family: Circe;
  
  &__item {
    margin-top: 24px;
    padding: 32px 18px;
    background: #F5F5F5;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    
    @media (min-width: 1200px) {
      margin-top: 8px;
      padding: 32px 40px 40px;
    }
    
    &--required {
      background: #FFF5F5;
    }
  
    &--required .survey__field {
      border: 1px solid #FFDCDC;
    }
  }

  &__note {
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;

    .survey__text--red {
      margin-right: 5px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__label {
    width: 100%;
    margin: 0;
  }

  &__label-radio {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1200px) {
      margin-left: 24px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
    
    @media (min-width: 1200px) {
      font-size: 20px;
      line-height: 32px;
    }

    &--red {
      color: #E64C5E;
    }
  }

  &__field {
    width: 100%;
    height: 48px;
    margin-top: 16px;
    padding: 0 17px;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    
    &--error {
      border: 1px solid #E64C5E;
    }
  }

  &__radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    @media (min-width: 1200px) {
      justify-content: flex-start;

    }
  }

  &__radio {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;

    @media (min-width: 1200px) {
      width: 23px;
      height: 23px;
    }
  }

  .btn--green {
    margin-top: 38px;
    width: 100%;
    height: 40px;
    padding: 0 26px;

    @media (min-width: 1200px) {
      width: initial;
    }
  }
}

.banner-attention {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 22px;
  font-family: Circe;
  font-style: normal;
  color: #FFFFFF;
  text-align: center;
  background: #D54859;
  border-radius: 5px;
  
  @media (min-width: 1100px) {
    align-items: start;
    position: relative;
    padding: 27px 0 30px 42px;
    text-align: left;
    background-image: url();
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1100px) {
      flex-direction: row;
    }
  }

  &__icon {
    width: 35px;
    height: 30px;

    @media (min-width: 1100px) {
      width: 28px;
      height: 24px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__caption {
    margin-top: 15px;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;


    @media (min-width: 1100px) {
      margin-top: 0;
      margin-left: 16px;
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;

    @media (min-width: 1100px) {
      margin-top: 8px;
      margin-bottom: 16px;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FBABB5;

    @media (min-width: 1100px) {
      max-width: 340px;
      font-size: 20px;
      line-height: 25px;
    }

    a {
      text-decoration: underline;
      color: #FBABB5;
    }
  }

  &__btn {
    width: 100%;
    height: 40px;
    margin-top: 26px;
    background: #2E2E2E;
    border-radius: 4px;
    color: #FFFFFF;

    @media (min-width: 1100px) {
      width: 170px;
      margin-top: 0;
      margin-left: 25px;
      color: #F5F5F5;
    }

    &:hover {
      background: #131313;
      color: #FFFFFF;
      
      @media (min-width: 1100px) {
        color: #F5F5F5;
      }
    }
  }

  &__background {
    display: none;

    @media (min-width: 1100px) {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.modal-block {

  &__body {
    padding-top: 20px;
  }

  &__input-wrap {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 10px;
  }

  &__code-wrap {
    display: flex;
    gap: 16px;

    input.modal-block__body-input {
      padding: 15px 0px;
      text-align: center;
    }

    // убираем стрелочки на Input 
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type='number'],
    input[type="number"]:hover,
    input[type="number"]:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
  }

  &__text-center {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 26px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12px;

    .select-custom__top {
      height: 52px;
    }
  }

  &__label &__body-input {
    margin-top: 0;
  }

  &__a {
    text-align: center;
    text-decoration-line: underline;
    color: #5BB6CA;
    font-size: 14px;
    line-height: 16px;
  }

  &__text {
    margin: 11px 0;
    font-size: 14px;
    line-height: 16px;
    color: #454545;
  }

  &__btns-wrap {
    display: flex;
    gap: 16px;
  }

  &__btn {
    width: 100%;
    height: 42px;
    border: solid 1px #000000;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    color: #747474;

    &:disabled {
      border: 1px solid #CECECE;
      color: #CECECE;
    }
  }
}

.get-discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 45px;
  background: #FFFFFF;
  border: 1px solid #9CE29E;
  box-sizing: border-box;
  border-radius: 6px;

  &__title {
    max-width: 630px;
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
  }

  &__btn {
    width: 100%;
    height: 57px;
    margin-top: 30px;
    background: #6FE373;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

    @media (min-width: 800px) {
      width: 310px;
    }
  }
}

.spec-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  // margin-top: 35px;
}

.your-name {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.your-spec {
  margin-top: 30px;

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #2D2D2D;
  }

  &__a {
    font-size: 18px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #2D2D2D;
  }
}

.your-manager {
  width: fit-content;
  padding: 17px 26px 35px 24px;
  background: #F8F8F8;
  border-radius: 6px;

  .bold-text {
    margin-top: 19px;
  }

  .btn {
    margin-top: 26px;
    height: 50px;
  }
}

.bold-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #2D2D2D;
}

.light-text {
  margin-top: 7px;
  font-size: 15px;
  line-height: 16px;
  color: #6B6B6B;
}

.green-discount {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-left: 36px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #67BE3E;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='15' fill='%2375DA46'/%3E%3Cline x1='11.0607' y1='13.182' x2='14.5962' y2='16.7175' stroke='white' stroke-width='3'/%3E%3Cline x1='20.9601' y1='11.0607' x2='13.889' y2='18.1317' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
  }
}

.btn--white {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 42px;
  border: 1px solid #C9C9C9;
  border-radius: 6px;
  font-size: 15px;
  line-height: 16px;
}

.btn--black-border {
  border: 1px solid #000000;
}

.modal-block {
  cursor: default;

  &__body {

    &--center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__footer {
    padding-top: 10px;
    
    .btn {
      margin: 0;
    }
  }

  &__body-btn {
    margin-top: 30px;
    height: 56px;
    font-weight: 700;
  }
  
  .text {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #353535;
  }
  
  .btn--small {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .custom-file-label::after {
    content: "Выбрать файл";
  }

  &--lk &__wrap {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    max-width:732px;
    margin: 0;
    max-height: 90vh;
    overflow-y: auto;
  }

  &--lk &__head-title {
    border-bottom: 3px solid #DEDEDE;;
  }

  &--lk &__inputs-wrap {
    display: flex;
    gap: 20px;
  }

  &--lk &__p-and-border {
    margin-top: 20px;
    padding-bottom: 36px;
    margin-bottom: 28px;
    border-bottom: 1px solid #D0D0D0;
  }

  &--lk .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
  }

  &--lk .nav-item {

    &:focus-visible {
      outline: none;
      border: none;
    }
  }

  &--lk .nav-link {
    height: 100%;
    padding: 20px 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border: none;
    outline: none;

    &:hover {
      border: none;
    }

    &:focus {
      border: none;
    }

    &:focus-visible {
      border: none;
    }

    &.active {
      border: none;
      border-bottom: 3px solid #848484;
    }
  }

  &--big &__wrap {
    width: 1140px;
    max-width: 1144px;
    margin: 0;
    padding: 60px 20px 20px;
    max-height: 80vh;
    overflow-y: hidden;
  }

  &--big &__content {
    
  }

  &--big &__body {
    max-height: calc(80Vh - 80px - 66px);
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    overflow-y: auto;
  }
}

.big-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: #000000;

  &--modal {
    text-align: center;
    color: #4D4D4D;
  }
}

.info-lk {
  margin-top: 30px;
  padding: 30px;
  background: #F8F8F8;
  border-radius: 6px;
  font-family: Circe;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 30px;
    
    &:first-child {
      margin-top: 0;
    }
  }

  &__block {
    flex-shrink: 0;
    max-width: 250px;
  }

  &__label {
    font-size: 16px;
    line-height: 16px;
    color: #747474;
  }

  &__text {
    margin-top: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #2D2D2D;

    &--bg {
      max-width: 190px;
      padding: 12px 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: #F5F5F5;
      border-radius: 4px;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #747474;
    }
  }
}

.loaded {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;

  &__block {
    flex-shrink: 0;
    position: relative;
    max-width: 200px;
    margin-top: 40px;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%);
    font-size: 16px;
    line-height: 16px;
    color: #747474;
  }

  &__text {
    max-width: 190px;
    padding: 12px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #F5F5F5;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #747474;
  }
}
// speaker page

.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin-top: 40px;
  margin-bottom: 50px;

  @media (min-width: 800px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 70px;
  }

  &__photo {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;

    @media (min-width: 800px) {
      width: 226px;
      height: 226px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__info {

  }

  &__name {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #2E2E2E;

    @media (min-width: 800px) {
      text-align: left;
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__desc {
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;

    @media (min-width: 800px) {
      text-align: left;
      font-size: 20px;
      line-height: 32px;
    }
  }

  ul {
    padding: 0;
  }

  li {
    position: relative;
    margin-top: 14px;
    padding-top: 18px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    list-style-type: none;
    color: #535353;

    @media (min-width: 800px) {
      padding-top: 0;
      padding-left: 35px;
      font-size: 16px;
      text-align: left;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 auto;
      width: 25px;
      height: 1px;
      border-bottom: 1px solid #EA7280;
      transform: translateX(-50%);

      @media (min-width: 800px) {
        top: 8px;
        left: 0;
        transform: none;
      }
    }
  }
}

.speaker-seminars {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 50px;

  @media (min-width: 800px) {
    margin-top: 50px;
  }

  &__item {
    display: none;
    width: 100%;
    position: relative;
    padding: 24px;
    border: 1px solid #EBEBEB;

    &:hover {
      border: 1px solid #131313;
      cursor: pointer;
    }

    &--show {
      display: block;
    }
  }

  &__date {
    display: flex;
    gap: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #2E2E2E;

    @media (min-width: 800px) {
      font-size: 16px;
    }
  }

  &__week {
    font-size: 14px;
    line-height: 24px;
    color: #818181;

    @media (min-width: 800px) {
      font-size: 16px;
    }
  }

  &__title {
    margin-top: 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;

    @media (min-width: 800px) {
      margin-top: 16px;
      font-size: 20px;
      line-height: 26px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  .btn--show-more {
    width: 100%;
    margin-top: 32px;
    padding: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #2E2E2E;
    background: #E5E5E5;
    
    @media (min-width: 800px) {
      margin-top: 56px;
      width: 152px;
    }
  
    span {
      position: relative;
      padding-left: 21px;
  
      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 8px;
        height: 8px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.99986 3.06035e-07C3.86725 3.17628e-07 3.74007 0.0526788 3.6463 0.146447C3.55253 0.240215 3.49986 0.367392 3.49986 0.5L3.49986 6.293L1.35386 4.146C1.30737 4.09951 1.25218 4.06264 1.19144 4.03748C1.1307 4.01232 1.0656 3.99937 0.999857 3.99937C0.934113 3.99937 0.869013 4.01232 0.808273 4.03748C0.747534 4.06264 0.692345 4.09951 0.645857 4.146C0.599369 4.19249 0.562492 4.24768 0.537333 4.30842C0.512174 4.36916 0.499226 4.43426 0.499226 4.5C0.499226 4.56574 0.512174 4.63084 0.537333 4.69158C0.562493 4.75232 0.599369 4.80751 0.645857 4.854L3.64586 7.854C3.6923 7.90056 3.74748 7.93751 3.80822 7.96271C3.86897 7.98792 3.93409 8.00089 3.99986 8.00089C4.06562 8.00089 4.13075 7.98792 4.19149 7.96271C4.25224 7.93751 4.30741 7.90056 4.35386 7.854L7.35386 4.854C7.40034 4.80751 7.43722 4.75232 7.46238 4.69158C7.48754 4.63084 7.50049 4.56574 7.50049 4.5C7.50049 4.43426 7.48754 4.36916 7.46238 4.30842C7.43722 4.24768 7.40034 4.19249 7.35386 4.146C7.25997 4.05211 7.13263 3.99937 6.99986 3.99937C6.93411 3.99937 6.86901 4.01232 6.80827 4.03748C6.74753 4.06264 6.69234 4.09951 6.64586 4.146L4.49986 6.293L4.49986 0.5C4.49986 0.367392 4.44718 0.240215 4.35341 0.146447C4.25964 0.0526788 4.13246 2.94442e-07 3.99986 3.06035e-07V3.06035e-07Z' fill='%232E2E2E'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &--open {

    .btn--show-more {
      display: none;
    }
  }

  &--open &__item {
    display: block;
  }
}

.main-info {
  display: flex;
  gap: 38px;
  margin-top: 40px;

  &__img {
    flex-shrink: 0;
    position: relative;
    width: 141px;
    height: 141px;
    border-radius: 50%;
    background-color: #E0ECEE;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 32px;
      height: 30px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 31' fill='none'%3E%3Cpath d='M12.0039 10.6562C12.0039 11.427 11.6878 12.1663 11.1252 12.7113C10.5626 13.2563 9.79956 13.5625 9.00391 13.5625C8.20826 13.5625 7.44519 13.2563 6.88259 12.7113C6.31998 12.1663 6.00391 11.427 6.00391 10.6562C6.00391 9.88546 6.31998 9.14625 6.88259 8.60122C7.44519 8.05619 8.20826 7.75 9.00391 7.75C9.79956 7.75 10.5626 8.05619 11.1252 8.60122C11.6878 9.14625 12.0039 9.88546 12.0039 10.6562Z' fill='%236F8D95'/%3E%3Cpath d='M4.00391 1.9375C2.94304 1.9375 1.92562 2.34576 1.17548 3.07246C0.425334 3.79916 0.00390625 4.78479 0.00390625 5.8125V25.1875C0.00390625 26.2152 0.425334 27.2008 1.17548 27.9275C1.92562 28.6542 2.94304 29.0625 4.00391 29.0625H28.0039C29.0648 29.0625 30.0822 28.6542 30.8323 27.9275C31.5825 27.2008 32.0039 26.2152 32.0039 25.1875V5.8125C32.0039 4.78479 31.5825 3.79916 30.8323 3.07246C30.0822 2.34576 29.0648 1.9375 28.0039 1.9375H4.00391V1.9375ZM28.0039 3.875C28.5343 3.875 29.043 4.07913 29.4181 4.44248C29.7932 4.80583 30.0039 5.29864 30.0039 5.8125V18.4062L22.4499 14.6339C22.2624 14.5429 22.05 14.5113 21.8429 14.5437C21.6358 14.576 21.4444 14.6706 21.2959 14.8141L13.8759 22.0022L8.55591 18.569C8.36383 18.4451 8.13343 18.3894 7.90378 18.4113C7.67414 18.4332 7.45937 18.5313 7.29591 18.6891L2.00391 23.25V5.8125C2.00391 5.29864 2.21462 4.80583 2.58969 4.44248C2.96477 4.07913 3.47347 3.875 4.00391 3.875H28.0039Z' fill='%236F8D95'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__body {
    display: block;
    width: 100%;
  }

  &__top {
    display: flex;
  }

  &__name {
    flex-shrink: 0;
    padding-top: 7px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #2D2D2D;

    p {
      margin-top: 6px;
      font-size: 13px;
      line-height: 16px;
      color: #C7C7C7;
    }
  }

  &__discount {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 17px;
    position: relative;
    padding-left: 36px;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: #67BE3E;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 29px;
      height: 29px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 29' fill='none'%3E%3Cpath d='M6.54675 27.9904C5.84713 28.3492 5.05325 27.7203 5.19463 26.9174L6.699 18.3442L0.313563 12.2615C-0.282749 11.6924 0.0271882 10.652 0.826501 10.5396L9.70413 9.27812L13.6626 1.43543C14.0197 0.728555 14.9858 0.728555 15.3428 1.43543L19.3013 9.27812L28.1789 10.5396C28.9782 10.652 29.2882 11.6924 28.6901 12.2615L22.3064 18.3442L23.8108 26.9174C23.9522 27.7203 23.1583 28.3492 22.4587 27.9904L14.5 23.9014L6.54494 27.9904H6.54675Z' fill='%2375DA46'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:after {
      content: '';
      position: absolute;
      top: 11.6px;
      left: 11px;
      width: 8.2px;
      height: 7px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 8' fill='none'%3E%3Cpath d='M6.97016 0.969986C7.11103 0.835875 7.29848 0.761733 7.49298 0.763205C7.68747 0.764677 7.87378 0.841647 8.0126 0.977874C8.15143 1.1141 8.2319 1.29893 8.23704 1.49336C8.24218 1.68779 8.17159 1.87661 8.04016 2.01999L4.05016 7.00999C3.98155 7.08389 3.89874 7.14319 3.80669 7.18435C3.71464 7.22552 3.61523 7.2477 3.51441 7.24956C3.41359 7.25143 3.31343 7.23295 3.21991 7.19522C3.1264 7.15749 3.04146 7.10129 2.97016 7.02999L0.324158 4.38399C0.250471 4.31532 0.191369 4.23252 0.150377 4.14052C0.109385 4.04853 0.0873427 3.94921 0.0855659 3.84851C0.0837892 3.74781 0.102314 3.64778 0.140035 3.55439C0.177756 3.461 0.233901 3.37617 0.305119 3.30495C0.376338 3.23373 0.461172 3.17758 0.55456 3.13986C0.647948 3.10214 0.747977 3.08362 0.84868 3.08539C0.949383 3.08717 1.0487 3.10921 1.1407 3.15021C1.2327 3.1912 1.3155 3.2503 1.38416 3.32399L3.47816 5.41699L6.95116 0.991987C6.95741 0.984288 6.96409 0.976943 6.97116 0.969986H6.97016Z' fill='white'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.bar {
  display: flex;
  align-items: center;
  height: 33px;
  position: relative;

  &__ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #6CD0CA;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
  }

  &__line {
    overflow: hidden;
    width: 100%;
    height: 11px;
    background: #F1F1F1;
    border-radius: 12px;
  }

  &__fill {
    width: 12%;
    height: 11px;
    background: #6CD0CA;
  }

  &__desc {
    position: absolute;
    bottom: -10px;
    right: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #808080;
  }
}

.lk {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 50px;

  &__body {
    width: 100%;
  }
}

.separator {
  display: flex;
  align-items: center;
  margin-top: 34px;

  &__h2 {
    margin: 0;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }

  &__line {
    width: 100%;
    height: 0px;    
    margin-left: 22px;
    border-bottom: 1px solid #ECECEC;
  }
}

.tabs {
  margin-top: 50px;
}

.tab-pane {
  padding-bottom: 40px;
}

.tabs .nav-link {
  padding: 18px 40px;
  font-size: 16px;
  line-height: 16px;
  color: #000000
}

.wrapper {
  background-color: #fff !important;
}

.complete {
  margin-top: 18px;
  background: #F9F9F9;

  &__top {
    display: flex;
    justify-content: space-between;
    height: 95px;
    padding: 27px 24px 20px;

    .btn {
      width: fit-content;
      height: 40px;
    }
  }

  &__info {

  }

  &__info-text {

    span {
      margin-right: 12px;
      font-size: 14px;
      line-height: 16px;
      color: #8B8B8B;
    }
  }

  &__title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
  }

  &__body {
    display: none;
  }
  
  &.open &__body {
    display: flex;
    justify-content: space-between;
    padding: 16px 25px;
    border-top: 1px solid #D6D6D6;
  }
    
  &.open &__block-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &.open &__block {
    display: flex;
    flex-direction: column;

    &--gray {
      align-self: flex-start;
      width: fit-content;
      padding: 13px 20px;
      background: #EFEFEF;
      border-radius: 11px;
    }
  }

  &.open &__block-head {
    margin-bottom: 15px;
  }

  &.open &__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #343434;
  }

  a.complete__text {
    text-decoration: underline;

    &:hover {
      color: #000000;
    }
  }

  &.open &__arrow {
    position: relative;
    padding-right: 17px;

    &:before {
      position: absolute;
      top: 7px;
      right: 0;
      content: '';
      width: 11px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.75 6.00003C0.75 5.80112 0.825725 5.61035 0.960517 5.4697C1.09531 5.32905 1.27813 5.25003 1.46875 5.25003L9.79619 5.25003L6.70988 2.03103C6.64305 1.9613 6.59004 1.87851 6.55387 1.7874C6.51771 1.6963 6.49909 1.59864 6.49909 1.50003C6.49909 1.40141 6.51771 1.30376 6.55387 1.21265C6.59004 1.12154 6.64305 1.03876 6.70988 0.969029C6.7767 0.899297 6.85604 0.843982 6.94335 0.806245C7.03066 0.768506 7.12424 0.749082 7.21875 0.749082C7.31326 0.749082 7.40684 0.768506 7.49415 0.806245C7.58146 0.843982 7.6608 0.899297 7.72763 0.969029L12.0401 5.46903C12.1071 5.5387 12.1602 5.62146 12.1964 5.71258C12.2326 5.8037 12.2513 5.90138 12.2513 6.00003C12.2513 6.09868 12.2326 6.19636 12.1964 6.28748C12.1602 6.3786 12.1071 6.46136 12.0401 6.53103L7.72763 11.031C7.6608 11.1008 7.58146 11.1561 7.49415 11.1938C7.40684 11.2316 7.31326 11.251 7.21875 11.251C7.12424 11.251 7.03066 11.2316 6.94335 11.1938C6.85604 11.1561 6.7767 11.1008 6.70988 11.031C6.57491 10.8902 6.49909 10.6992 6.49909 10.5C6.49909 10.4014 6.51771 10.3038 6.55387 10.2127C6.59004 10.1215 6.64305 10.0388 6.70988 9.96903L9.79619 6.75003L1.46875 6.75003C1.27813 6.75003 1.09531 6.67101 0.960517 6.53036C0.825725 6.38971 0.75 6.19894 0.75 6.00003Z' fill='black'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.choose-seminar {
  display: none;
  position: relative;
  
  &__form {
    margin-top: 40px;
    padding: 27px 20px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
  }

  &__selects {
    display: grid;
    grid-template-columns: 261px 1fr;
    gap: 18px;
  }

  &__body {
    padding-top: 27px;
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    margin-top: 15px;
  }

  &__label {
    width: 320px;

    .btn {
      height: 44px;
      margin-top: 11px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 44px;
    padding-top: 30px;
    padding-bottom: 0px;
    border-top: 1px solid #E7E7E7;

    .btn {
      width: 310px;
      height: 57px;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;

      &:disabled {
        background-color: #E6E6E6;
        color: #B4B4B4;
      }
    }
  }

  &__policy {
    display: flex;
    gap: 8px;
  }

  &__policy-text {
    max-width: 277px;
    margin-right: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #828282;

    a {
      text-decoration-line: underline;
      color: #339AFA;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
  }

  &.open {
    display: block;
  }
}

.inpt {
  width: 261px;
  height: 44px;
  padding-left: 18px;
  background: #FFFFFF;
  border: 1px solid #9F9F9F;
  border-radius: 4px;
}

.modal-sert {
  display: flex;
  gap: 20px;

  &__img {
    width: 790px;
    max-width: 790px;
    flex-shrink: 0;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #343434;
  }

  &__text {
    margin-top: 13px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #343434;

    &--var {
      font-size: 13px;
      line-height: 18px;
      color: #F06336;
    }
  }

  &__a {
    text-decoration-line: underline;
    color: #54BAB4;
  }
}

.pdf-btn {
  position: relative;
  margin-top: 80px;
  padding-left: 45px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #343434;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    background: #4AC2AD;
    border-radius: 4px;
  }

  &:after {
    position: absolute;
    content: '';
    left: 11px;
    top: 50%;
    width: 11px;
    height: 13px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.49993 0.75C5.69056 0.75 5.87337 0.825725 6.00817 0.960517C6.14296 1.09531 6.21868 1.27813 6.21868 1.46875L6.21868 9.79619L9.30356 6.70987C9.37038 6.64305 9.44972 6.59004 9.53703 6.55387C9.62434 6.51771 9.71793 6.49909 9.81243 6.49909C9.90694 6.49909 10.0005 6.51771 10.0878 6.55387C10.1751 6.59004 10.2545 6.64305 10.3213 6.70987C10.3881 6.7767 10.4411 6.85604 10.4773 6.94335C10.5135 7.03066 10.5321 7.12424 10.5321 7.21875C10.5321 7.31326 10.5135 7.40684 10.4773 7.49415C10.4411 7.58146 10.3881 7.6608 10.3213 7.72762L6.00881 12.0401C5.94204 12.1071 5.86273 12.1602 5.7754 12.1964C5.68808 12.2326 5.59447 12.2513 5.49993 12.2513C5.40539 12.2513 5.31178 12.2326 5.22446 12.1964C5.13714 12.1602 5.05782 12.1071 4.99106 12.0401L0.678557 7.72762C0.61173 7.6608 0.55872 7.58146 0.522554 7.49415C0.486388 7.40684 0.467773 7.31326 0.467773 7.21875C0.467773 7.12424 0.486388 7.03066 0.522554 6.94335C0.55872 6.85604 0.61173 6.7767 0.678557 6.70987C0.813519 6.57491 0.996567 6.49909 1.18743 6.49909C1.28194 6.49909 1.37552 6.51771 1.46283 6.55387C1.55015 6.59004 1.62948 6.64305 1.69631 6.70987L4.78118 9.79619L4.78118 1.46875C4.78118 1.27813 4.85691 1.09531 4.9917 0.960517C5.12649 0.825725 5.30931 0.75 5.49993 0.75Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.modal-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #343434;

  &--bold {
    font-weight: 700;
  }

  &--a {
    display: block;
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #787878;
  }
}

.block-btn {
  display: flex;
  justify-content: center;
  margin-top: 18px;

  .btn {
    padding: 15px 40px;
  }
}

.radio {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: fit-content;
  position: relative;
  cursor: pointer;
  
  input {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
 
  &__grid {
    display: grid;
    grid-template-columns: 1fr 90px 60px;
    gap: 10px;
    position: relative;
    width: 100%;
    font-family: 'Circe';
    padding-top: 1px;
    padding-left: 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #2E2E2E;
    
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #FFFFFF;
      border: 1px solid #DBDBDB;
    }
  }

  &__grid-2 {
    grid-template-columns: 1fr 90px;
  }

  &__text {
    padding: 15px 0;
  }

  &__price {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-left: 1px solid #E7E7E7;
  }

  .span {
    position: relative;
    font-family: 'Circe';
    padding-top: 1px;
    padding-left: 29px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #FFFFFF;
      border: 1px solid #DBDBDB;
    }
  }
  
  input:checked~.span:before {
    background-color: #ffffff;
    border: 5px solid #72E77A;
  }
  
  input:checked~&__grid:before {
    background-color: #ffffff;
    border: 4px solid #72E77A;
  }

  
  &--mini .span {
    font-size: 14px;
    line-height: 16px;

    &:before {
      width: 16px;
      height: 16px;
    }
  }

  &--mini input:checked~.span:before {
    border: 4px solid #72E77A;
  }
}

.select-custom {
  max-width: 100%;
  margin-top: 12px;

  &__top {
    display: flex;
    align-items: center;
    position: relative;
    height: 56px;
    padding: 5px 30px 5px 20px;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    color: #818181;

    @media (min-width: 1000px) {
      cursor: pointer;
    }

    &:before {
      position: absolute;
      top: 50%;
      right: 18px;
      content: '';
      width: 13px;
      height: 7px;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.09039 1.09039C1.11896 1.06173 1.15291 1.039 1.19029 1.02349C1.22767 1.00798 1.26774 1 1.30821 1C1.34867 1 1.38874 1.00798 1.42612 1.02349C1.4635 1.039 1.49745 1.06173 1.52603 1.09039L5.00008 4.56506L8.47413 1.09039C8.50274 1.06178 8.5367 1.03909 8.57407 1.02361C8.61145 1.00813 8.6515 1.00016 8.69196 1.00016C8.73241 1.00016 8.77247 1.00813 8.80984 1.02361C8.84721 1.03909 8.88117 1.06178 8.90978 1.09039C8.93838 1.11899 8.96107 1.15295 8.97655 1.19032C8.99203 1.2277 9 1.26775 9 1.30821C9 1.34866 8.99203 1.38872 8.97655 1.42609C8.96107 1.46346 8.93838 1.49742 8.90978 1.52603L5.2179 5.2179C5.18932 5.24655 5.15537 5.26928 5.11799 5.28479C5.08062 5.3003 5.04055 5.30829 5.00008 5.30829C4.95961 5.30829 4.91954 5.3003 4.88217 5.28479C4.84479 5.26928 4.81084 5.24655 4.78226 5.2179L1.09039 1.52603C1.06173 1.49745 1.039 1.4635 1.02349 1.42612C1.00798 1.38874 1 1.34867 1 1.30821C1 1.26774 1.00798 1.22767 1.02349 1.19029C1.039 1.15291 1.06173 1.11896 1.09039 1.09039Z' fill='black' stroke='black'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0;

    @media (min-width: 1000px) {
      cursor: pointer;
    }
  }
  
  &__desc {
    font-size: 16px;
    line-height: 20px;
    color: #818181;
    transition: transform .5s;
  }

  &__search {
    // margin-top: 5px;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    color: #2E2E2E;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #DBDBDB;
    }
  }

  &__head-selected {
    display: none;
    font-size: 16px;
    line-height: 20px;
    color: #2E2E2E;
  }

  &__dropdown {
    position: relative;
  }

  &__dropdown-body {
    display: none;
  }

  &__group {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
  }

  &__item {
    padding: 0;
    border-bottom: 1px solid #EBEBEB;

    &:last-child {
      border-bottom: none;
    }

    label {
      width: 100%;
      padding: 12px 0;
    }

    .radio--grid {
      padding: 0;
    }

    &.hidden {
      display: none;
    }
  }

  &__err-text {
    display: none;
  }

  label {
    margin: 0;
  }

  &.selected &__top {
    background: #ffffff;
    border: 1px solid #535353;
    color: #2E2E2E;
  }

  &.selected &__desc {
    transform:  translateX(-15%) scale(0.7);
  }
  
  &.selected &__head-selected {
    display: block;
  }

  &.selected &__search {
    display: none;
  }

  &.open &__top {
    background: #ffffff;
    border: 1px solid #535353;
    color: #2E2E2E;

    &:before {
      position: absolute;
      top: 50%;
      right: 18px;
      content: '';
      width: 13px;
      height: 7px;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &.open &__desc {
    transform:  translateX(-15%) scale(0.7);
  }

  &.open &__search {
    display: block;
  }

  &.open &__head-selected {
    display: none;
  }

  &.open &__dropdown-body {
    display: block;
    z-index: 30;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
    padding: 4px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  &.error &__top {
    background: #FFDCDC;
    border: 1px solid #D54859;
    color: #EA7280;
  }

  &.error &__err-text {
    display: block;
    margin-top: 5px;
    padding-left: 20px;
    font-size: 11px;
    line-height: 16px;
    color: #E64C5E;
  }

  &.no-open &__dropdown-body {
    display: none;
  }

  &.no-open &__search {
    display: none;
  }

  &.no-open &__top {
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    color: #818181;

    &:before {
      transform: translateY(-50%) rotate(0deg);
    }
  }

  &.no-open &__desc {
    transform:  translateX(0) scale(1);
  }

  &.no-open &__err-text {
    display: none;
  }
}

.custom-file {
  cursor: pointer;

  &--upload &-input {
    height: 44px;
  }
  
  &--upload &-label {
    display: flex;
    align-items: center;
    height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ECECEC;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;

    &:before {
      content:'';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 57px;
      background: #707070;
    }

    &:after {
      position: absolute;
      top: 8px;
      right: 15px;
      content:'';
      width: 24px;
      height: 24px;
      border: none;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12.75 17.25C12.75 17.4489 12.671 17.6397 12.5303 17.7803C12.3896 17.921 12.1989 18 12 18C11.8011 18 11.6103 17.921 11.4696 17.7803C11.329 17.6397 11.25 17.4489 11.25 17.25V11.5605L9.53097 13.281C9.39014 13.4218 9.19913 13.5009 8.99997 13.5009C8.80081 13.5009 8.6098 13.4218 8.46897 13.281C8.32814 13.1402 8.24902 12.9492 8.24902 12.75C8.24902 12.5508 8.32814 12.3598 8.46897 12.219L11.469 9.219C11.5386 9.14915 11.6214 9.09374 11.7125 9.05593C11.8036 9.01812 11.9013 8.99866 12 8.99866C12.0986 8.99866 12.1963 9.01812 12.2874 9.05593C12.3785 9.09374 12.4613 9.14915 12.531 9.219L15.531 12.219C15.6718 12.3598 15.7509 12.5508 15.7509 12.75C15.7509 12.9492 15.6718 13.1402 15.531 13.281C15.3901 13.4218 15.1991 13.5009 15 13.5009C14.8008 13.5009 14.6098 13.4218 14.469 13.281L12.75 11.5605V17.25Z' fill='white'/%3E%3Cpath d='M21 21V6.75L14.25 0H6C5.20435 0 4.44129 0.316071 3.87868 0.87868C3.31607 1.44129 3 2.20435 3 3V21C3 21.7956 3.31607 22.5587 3.87868 23.1213C4.44129 23.6839 5.20435 24 6 24H18C18.7956 24 19.5587 23.6839 20.1213 23.1213C20.6839 22.5587 21 21.7956 21 21ZM14.25 4.5C14.25 5.09674 14.4871 5.66903 14.909 6.09099C15.331 6.51295 15.9033 6.75 16.5 6.75H19.5V21C19.5 21.3978 19.342 21.7794 19.0607 22.0607C18.7794 22.342 18.3978 22.5 18 22.5H6C5.60218 22.5 5.22064 22.342 4.93934 22.0607C4.65804 21.7794 4.5 21.3978 4.5 21V3C4.5 2.60218 4.65804 2.22064 4.93934 1.93934C5.22064 1.65804 5.60218 1.5 6 1.5H14.25V4.5Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  margin-bottom: 0;
  cursor: pointer;
  
  span {
    padding-left: 16px;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      // background: #7E7E7E;
      background: #fff;
      border-radius: 4px;
      border: 1px solid #7E7E7E;
    }
    
    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 10px;
      height: 6px;
      transform: rotate(-45deg);
      border-bottom: 3px solid #E7E8EA;
      border-left: 3px solid #E7E8EA;
    }
  }
  
  input {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  input:hover~span:before {
    background-color: transparent;
    border-color: #72E77A;
  }
  
  input:hover~span:after {
    border-color: #72E77A;
  }
  
  input:checked~span:before {
    background-color: #72E77A;
    border-color: #72E77A;
  }

  input:checked~span:after {
    border-color: #ffffff;
  }

  input:checked:hover~span:after {
    border-color: #ffffff;
  }
}

label.absolute-text {
  position: relative;
  margin: 0;

  span {
    position: absolute;
    top: -15px;
    transform: translateY(-100%);
  }
}

input.error {
  background: #ffdcdc;
  border: 1px solid #d54859;
}

.custom-input {
  width: 100%;
  max-width: 100%;

  &__label {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 44px;
    margin: 0;
    padding: 3px 15px;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    color: #818181;

    @media (min-width: 1000px) {
      cursor: text;
    }
  }
  
  &__desc {
    font-size: 16px;
    line-height: 16px;
    color: #818181;
    transition: transform .5s;
  }

  &__input {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    color: #2E2E2E;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #DBDBDB;
    }
  }

  &__err-text {
    display: none;
  }
  
  &.open &__label {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    background: #ffffff;
    border: 1px solid #535353;
    color: #2E2E2E;
  }

  &.open &__desc {
    transform:  translateX(-15%) scale(0.7);
  }

  &.open &__input {
    display: block;
  }

  &.error &__label {
    background: #FFDCDC;
    border: 1px solid #D54859;
    color: #EA7280;
  }

  &.error &__err-text {
    display: block;
    margin-top: 5px;
    padding-left: 15px;
    font-size: 11px;
    line-height: 11px;
    color: #E64C5E;
  }
}

#head-app {
  display: none !important;
}