doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Project
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.min.css">
  body.body
    .container
      .block-num
        .block-num__inner 
          .block-num__item
            img.block-num__icon(src="img/salam.png")
            .block-num__text-wrap
              .block-num__num 5 164
              .block-num__text Ведем медицинских специалистов
          .block-num__item
            img.block-num__icon(src="img/star.png")
            .block-num__text-wrap
              .block-num__num 1 247
              .block-num__text Отправляем на аккредитации
          .block-num__item
            img.block-num__icon(src="img/prize.png")
            .block-num__text-wrap
              .block-num__num 274
              .block-num__text Успешно сдали аккредитацию
        img.block-num__img(src="img/people.png")
      .block-num.block-num--mini
        .block-num__inner 
          .block-num__item
            img.block-num__icon(src="img/salam.png")
            .block-num__text-wrap
              .block-num__num 5 164
              .block-num__text Ведем медицинских специалистов
          .block-num__item
            img.block-num__icon(src="img/star.png")
            .block-num__text-wrap
              .block-num__num 1 247
              .block-num__text Отправляем на аккредитации
          .block-num__item
            img.block-num__icon(src="img/prize.png")
            .block-num__text-wrap
              .block-num__num 274
              .block-num__text Успешно сдали аккредитацию
        img.block-num__img(src="img/people.png")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    //- <script src="js/script.min.js"></script>
    <script src="js/survey.js"></script>
      