doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Project
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/croppie.css" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/app.min.css">
    <link rel="stylesheet" href="css/route.css">
  body.body
    <div style="background: #e8f1f6;">
      .container
        .route
          .route__top
            .route__title Подготовка к аккредитации
            .route__count 1 программа
          .route__body
            .route__item
              a.route__link(href="#")
                span.route__text Экспертиза временной нетрудоспособности и контроль качества медицинской помощи
        .route
          .route__top
            .route__title Повышение квалификации
            .route__count 10 программ
          .route__body 
            .route__item
              a.route__link(href="#")
                .route__text Экспертиза временной нетрудоспособности и контроль качества медицинской помощи
            .route__item
              a.route__link(href="#")
                .route__text Телемедицина
            .route__item
              a.route__link(href="#")
                .route__text Клинико-экспертная работа в медицинских организациях
            .route__item
              a.route__link(href="#")
                .route__text Экспертиза временной нетрудоспособности и контроль качества медицинской помощи
            .route__item
              a.route__link(href="#")
                .route__text Телемедицина
            .route__item
              a.route__link(href="#")
                .route__text Клинико-экспертная работа в медицинских организациях
            .route__item
              a.route__link(href="#")
                .route__text Экспертиза временной нетрудоспособности и контроль качества медицинской помощи
            .route__item
              a.route__link(href="#")
                .route__text Телемедицина
            .route__item
              a.route__link(href="#")
                .route__text Клинико-экспертная работа в медицинских организациях
          .btn.route__btn Показать все программы
        .spoiler
          .spoiler__title Особенности дистанционного формата обучения по направлению «Ультразвуковая диагностика»
          .spoiler__body
            <p>
              <img width="400" height="273" title="Обучение по направлению Косметология" align="left" style="margin:20px;" alt="Сертификация врачей-косметологов" src="/upload/medialibrary/7a8/7787.jpg">Академия Медицинского Образования (АМО) реализует обучение для врачей-косметологов. Напомним, что в современном мире косметология условно делится на два направления. Первое подразумевает наличие медицинского образования, специалист такого направления является врачом-косметологом и работает непосредственно в медучреждение. Второе направление - эстетическая косметология, которая не подразумевает наличия высшего образования, а специалисты работают в косметологических и СПА-салонах.
            </p>
            <p>
              | Чтобы стать врачом-косметологом, необходимо получить высшее медицинское образование по направлению «Терапия» или «Лечебное дело». После этого окончить ординатуру по специальности «Дерматовенерология». Последней ступенью освоения специальности является прохождение курсов по профессиональной переподготовке или повышение квалификации.
            </p>
            <p>
              | Наша программа полностью соответствует квалификационным требованиям и Приказам Министерства здравоохранения. Продолжительность программы по проф. переподготовке составляет 504 академических часа. Главная цель обучения – получение новых и углубление уже имеющихся знаний. В учебную программу включены следующие разделы:
            </p>
            <ul>
              <li>современные лазерные технологии;</li>
              <li>физиотерапевтические методы;</li>
              <li>терапевтическая косметология;</li>
              <li>инъекционные методики (инъекционные коррекции морщин ботулотоксином типа А, мезотерапия, контурная пластика).</li>
            </ul>
            <p>
              | Кроме этого, мы разработали учебные программы для двух категорий специалистов. Первая программа рассчитана для дерматовенерологов, которые желают пройти курсы по профессиональной переподготовке и стать косметологами. Продолжительность обучения – 576 академических часа. По завершению слушатели получают дипломы.
            </p>
            <p>
              | Вторая программа для действующих врачей-косметологов, которым необходимо пройти курсы по повышению квалификации. Они в свою очередь подразделяются на семинары, тематические циклы усовершенствования и сертификационные циклы.
            </p>
            <p>
              | Преимущества АМО:
            </p>
            <ol>
              <li>Наши программы полностью соответствуют нормативным требованиям, закону «Об образовании», Приказам Минздрава и Министерства образования и науки;</li>
              <li>Мы предоставляем только актуальные методические и учебные материалы. Наша информационная база постоянно обновляется;</li>
              <li>Слушатели могут в любое время года и даже суток приступить к образовательной программе. Индивидуальный график позволит обучающимся получать знания в полном объеме в удобное для них время;</li>
              <li>Персональный менеджер, который автоматически закрепляется за каждым слушателем, помогает осваивать учебную программу. Принцип максимальной доступности позволяет получить нужную информацию быстро.</li>
            </ol>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/lk.js"></script>